@import "./reset.css";
body,
html {
  background: #ccc;
}
.App {
  text-align: center;
}

.main_container {
  /* border: 2px solid purple; */
  border-radius: 15px;
  background: #ccc;

}

h1{
  padding-top: 1rem;
  background: #17408b;
  border: 0;

}
.state_changer-container {
  padding: 2rem 0;
  width: 100%;
  border-bottom:  2px solid black;
  background: #17408b;
}

select{
  margin-bottom: 1rem;
}


.stat_container {
  margin: 0 auto;
  /* background: #ccc; */
  width: 90%;

}

.stat_container button{
  background: #C9082A;
  color: white;

padding: 1rem;
cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;


}

.headshot-container {
  flex-basis: 40%;
  text-align: center;
  /* background: black; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #17408b;
}
.headshot {
  width: 100%;
  /* height: 100%; */

}

/* main Item container */
.item-container {

  margin: 1rem 0;
  height: 150px;
  display: flex;
  border-radius: 10px;
  background: #fff;
position: relative;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.item-info {
  flex-basis: 60%;
}

.item-rank {
  font-size: 2.5rem;
position: absolute;
left: 5px;
  background: -webkit-linear-gradient(#fff 0%, #17408b 100%);
  /* background: #fff; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item-jersey_position {
  width: 25px;
  text-align: center;
  position: absolute;
left: 30%;
top: 2px;

}
.item-jersey{
font-size: 0.8rem;
color: white;
}
.item-position{
font-size: 0.8rem;
color: white;

}


.stat-items {
  list-style: none;
  text-align: left;
  width: 100%;
}

.list-item {
  border: 1px dashed blue;
  padding: 1rem 2rem;
  width: 100%;
}
.item-teamMarketName{
text-align: center;
margin-top: 1rem;
}

/* item main info */
.item-NameScore{
  display: flex;
  flex-flow: column;

height: 100%;
width: 100%;
justify-content: space-evenly;
text-align: center;
}

.item-name{
  font-size: 1.5rem;
}
.item-teamMarket{
font-size: .8rem;
color: white;
}

.item-teamName{
font-size: .8rem;
color: white;
}
/* items css  */

/* animatinos */

.skeleton-box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
}
.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 2s infinite;
  content: "";
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* desktop */
@media only screen and (min-width: 768px) {

.state_changer-container{
  border-bottom: 2px solid black;

display: flex;
justify-content: center;
align-items: center;
padding-top: 0rem;
height: 75px;
}

select.dropdown{
  height: 30px;
width: 200px;


}

.stat_container{
  margin-top: 0rem;
}
.stat_container button {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-size: 1.25rem;
  margin: 0;

}

.item-container{
  height: 200px;
}


.item-teamMarketName > span{
  font-size: 1.25rem;
}
img.headshot{
  height: auto;
  width: 70%;
  max-width: 300px;
  max-height:  300px;
}
  .App{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }
  .main_container {
    border: 2px solid orange;
    border-radius: 15px;
    background: #ccc;

    width: 75%;
    max-width:800px;
  }

  .item-info {
  }
}
