
@import "./reset.css";




.App {
  text-align: center;
}

.main_container{
  border: 2px solid purple;
  border-radius: 15px;

}

.state_changer-container{
  border: 2px solid green;
  width: 100%;
}

.stat_change-btn{
  height: 50px;
  width: 100px;
}


.stat_container {
  border: 2px solid black;

width: 100%;
margin-top: 2rem;
}

.dropdown{
  background: red;
  color:red;
  font-size: 4rem;
}
.dropdown-option{
  background: purple;
  color:purple;
  font-size: 4rem;
}
.headshot{
  width: 25%;
  height: 25%;
  max-height: 75px;
  max-width: 75px;
  border: 2px dashed blue
}
.item-container{
  border:2px solid orange;
display: flex;
}

.item-info {
  border: 2px solid red;
}
.stat-items{
  list-style: none;
  text-align: left;
  width: 100%;


}

.list-item{
  border: 1px dashed blue;
  padding: 1rem 2rem;
  width: 100%;

}



/* items css  */

/* animatinos */



.skeleton-box {
	 display: inline-block;
	 height: 1em;
	 position: relative;
	 overflow: hidden;
	 background-color: #dddbdd;
}
 .skeleton-box::after {
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 transform: translateX(-100%);
	 background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
	 animation: shimmer 2s infinite;
	 content: '';
}
 @keyframes shimmer {
	 100% {
		 transform: translateX(100%);
	}
}
